USE [Hastane_Proje]
GO
/****** Object:  Table [dbo].[TBL_Branslar]    Script Date: 9/26/2025 8:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Branslar](
	[Bransid] [int] IDENTITY(1,1) NOT NULL,
	[BransAd] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Doktorlar]    Script Date: 9/26/2025 8:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Doktorlar](
	[DoktorId] [smallint] IDENTITY(1,1) NOT NULL,
	[DoktorAd] [varchar](15) NULL,
	[DoktorSoyad] [varchar](15) NULL,
	[DoktorBrans] [varchar](30) NULL,
	[DoktorTC] [varchar](11) NULL,
	[DoktorSifre] [varchar](16) NULL,
 CONSTRAINT [PK_TBL_Doktorlar] PRIMARY KEY CLUSTERED 
(
	[DoktorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Duyurular]    Script Date: 9/26/2025 8:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Duyurular](
	[Duyuruid] [smallint] IDENTITY(1,1) NOT NULL,
	[Duyuru] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Hastalar]    Script Date: 9/26/2025 8:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Hastalar](
	[HastaId] [smallint] IDENTITY(1,1) NOT NULL,
	[HastaAd] [varchar](15) NULL,
	[HastaSoyad] [varchar](15) NULL,
	[HastaTC] [char](11) NULL,
	[HastaTel] [varchar](15) NULL,
	[HastaCinsiyet] [varchar](5) NULL,
	[HastaSifre] [varchar](16) NULL,
 CONSTRAINT [PK_TBL_Hastalar] PRIMARY KEY CLUSTERED 
(
	[HastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Randevular]    Script Date: 9/26/2025 8:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Randevular](
	[Randevuid] [int] IDENTITY(1,1) NOT NULL,
	[RandevuTarih] [varchar](10) NULL,
	[RandevuSaat] [varchar](5) NULL,
	[RandevuBrans] [varchar](30) NULL,
	[RandevuDoktor] [varchar](20) NULL,
	[RandevuDurum] [bit] NULL,
	[HastaTC] [char](11) NULL,
	[HastaSikayet] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_Randevular] PRIMARY KEY CLUSTERED 
(
	[Randevuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Sekreterler]    Script Date: 9/26/2025 8:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Sekreterler](
	[SekreterId] [smallint] IDENTITY(1,1) NOT NULL,
	[SekreterAd] [varchar](16) NULL,
	[SekreterSoyad] [varchar](16) NULL,
	[SekreterTC] [char](11) NULL,
	[SekreterSifre] [varchar](16) NULL,
 CONSTRAINT [PK_TBL_Sekreterler] PRIMARY KEY CLUSTERED 
(
	[SekreterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_Randevular] ADD  CONSTRAINT [DF_TBL_Randevular_RandevuDurum]  DEFAULT ((0)) FOR [RandevuDurum]
GO
